/checkouts

*.class
.env
.lein-*
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-env
.lein-repl-history
.nrepl-port
/db/
/reports/
log
ruby/log
data/*
*.dump

pom.xml
*jar
.lein-deps-sum
.lein-repl-history
.lein-plugins/

*~
.idea
/.DS_Store
/classes
/lib
/target
closure
/core.js
/coreadvanced.js
/coresimple.js
/out
/pom.xml
.repl
*.swp
*.zip
clojurescript_release_*
closure-release-*
.lein-repl-history
.nrepl-port
.nrepl-repl-history

# Xcode
.DS_Store